* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#banner-section {
  background-image: url(images/tuzla_image.jpg);
  background-size: cover;
  background-position: center;
  height: 343px;
  overflow: hidden;
  color: white;
}

h1 {
  margin-top: 119px;
  margin-bottom: 16px;
}

h1 > span {
  background-color: #b1a390;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

h2 span {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #555e61;
}

#activities {
  display: flex;
  justify-content: space-around;
}

.activity-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#activity-header {
  overflow: hidden;
}

#activity-header > h2 {
  margin-top: 39px;
  margin-bottom: 56px;
}

.activity-first-para {
  margin-top: 23px;
  font-weight: 700;
}

.activity-second-para {
  margin-top: 17px;
  margin-bottom: 38px;
}

#activities-section {
  background-color: #b1a390;
}
